{
  "iisNode": {
    "node_env": "production",
    "loggingEnabled": true,
    "logDirectory": "iisnode",
    "debuggingEnabled": false
  },
  "handlers": [
    {
      "name": "iisnode",
      "path": "src/server.js",
      "verb": "*",
      "modules": "iisnode"
    }
  ],
  "rewrite": {
    "rules": [
      {
        "name": "LogFile",
        "stopProcessing": true,
        "match": { "url": "^/iisnode" },
        "conditions": [],
        "action": { "type": "None" }
      },
      {
        "name": "NodeInspector",
        "stopProcessing": true,
        "match": { "url": "^/src/server.js\\/debug[^\\/]*" },
        "conditions": [],
        "action": { "type": "None" }
      },
      {
        "name": "StaticContent",
        "stopProcessing": true,
        "match": { "url": "^/public/(.+)$" },
        "conditions": [],
        "action": { "type": "Rewrite", "url": "public/{R:1}" }
      },
      {
        "name": "DynamicContent",
        "stopProcessing": false,
        "match": { "url": ".*" },
        "conditions": [
          { "input": "{REQUEST_FILENAME}", "matchType": "IsFile", "negate": true }
        ],
        "action": { "type": "Rewrite", "url": "src/server.js" }
      }
    ]
  }
}
